language = "java"
run = "javac -cp .:./jars/junit-4.12.jar:./jars/hamcrest-core-1.3.jar ILife.java Live.java LiveTest.java && java -cp .:./jars/junit-4.12.jar:./jars/hamcrest-core-1.3.jar org.junit.runner.JUnitCore LifeTest"
